<!DOCTYPE html>
<html>

<head>
  <title>LO24</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="description" content="Share content of Cards" />
  <meta name="title" content="LifeON24" />
  <meta property="fb:app_id" content="889694297848793" />

  <meta property="al:android:url" content="lifeon24://app">
  <meta property="al:android:package" content="com.lifeon24.profectus.rn1android">
  <meta property="al:android:app_name" content="ResClientAndroid">
  <meta property="al:web:should_fallback" content="false" />

  <meta property="og:type" content="website" />
  <meta property="og:title" content="Client" />
  <meta property="og:description" content="Lorem Ipsum is simply dummy text of the printing and typesetting industry.
  Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
  of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
  into electronic typesetting, remaining essentially unchanged." />
  <meta property="og:image" content="<%= url %>" />
</head>

<body>
  <img src="<%= url %>">
</body>

</html>
