<!DOCTYPE html>
<html>

<head>
  <title>LO24</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="description" content="Share content of Cards" />
  <meta property="al:android:url" content="lifeon24://?card_id=3">
  <meta property="al:android:package" content="com.lifeon24.profectus.rn1android">
  <meta property="al:android:app_name" content="ResClientAndroid">
  <meta property="al:web:should_fallback" content="false"/>
  <meta property="og:title" content="ResClientAndroid" />
  <meta property="og:url" content="http://lifeon24.com" />
  <meta property="og:type" content="article" />
  <meta property="fb:app_id" content="889694297848793" />

  <meta property="og:description" content="How much does culture influence creative thinking?" />
  <meta property="og:image" content="<%= url %>" />
</head>

<body>
  <img src="<%= url %>">
</body>

</html>
