<!DOCTYPE html>
<html>

<head>
  <title>LO24</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="description" content="Share content of Cards" />
  <meta name="title" content="LifeON24" />

  <meta property="al:android:url" content="lifeon24://card_id=3">
  <meta property="al:android:package" content="com.lifeon24.profectus.rn1android">
  <meta property="al:web:should_fallback" content="false" />

  <meta property="og:title" content="Client" />
  <meta property="og:description" content="How much does culture influence creative thinking?" />
  <meta property="og:image" content="<%= url %>" />
  <meta property="og:image:secure_url" content="<%= url %>" />
  <meta property="og:image:width" content="500" />
  <meta property="og:image:height" content="500" />
</head>

<body>
  <img src="<%= url %>">
</body>

</html>
